backoff
chromadb
crawl4ai
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
openai
packaging
pydantic
pydantic-settings
pymupdf
python-dotenv
requests
streamlit
tqdm
unstructured
pyzmq
plotly
unstructured[md]
