
# LLM
GEMINI_API_KEY=""

OPENROUTER_API_KEY=""


# FOR GOOGLE SEARCH
GOOGLE_CSE_API_KEY=""
GOOGLE_CSE_ID=""


# FOR LANGSMITH TRACING (optional)
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

